{% extends "base.html" %}
{% block content %}

<div id="deck-list">
    <div class="new-deck">
        <div class="deck">
            <p class="deck-title">Build a Deck</p>
            <form method="POST" action="{% url 'create_deck' %}">
            {% csrf_token %}
            {{form.as_p}}
                <button type="submit" class="make-deck-btn">Click here</button>
            </form>
        </div>
    </div>
    {% if deck_list %}
        {% for deck in deck_list %}
        <div>
            <a class="go-to-deck-link link" href="{% url 'deck_detail' slug=deck.slug %}">
                <div class="deck">
                    <div class="deck-title">
                        <p>{{ deck.name }}</p>
                    </div>
                    <div id="deck-info">
                        {% if deck.category %}
                        <p>Category: {{ deck.category }}</p>
                        {% else %}
                        <p>Category: N/A</p>
                        {% endif %}
                        <p>Created by: {{ deck.user }}</p>    
                    </div>
                </div>
            </a>
            <div class="deck-options">
                <form class="fav-deck" action="{% url 'deck_favorite' slug=deck.slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="fav-deck-btn">
                        {% if deck in request.user.favorited.all %}
                            Unfavorite
                        {% else %}
                            Favorite
                        {% endif %}
                        this deck</button>
                </form>
                {% if request.user.is_authenticated %}
                    {% if request.user == deck.user %}
                    <div class="deck-edit">
                        <a class="link" href="{% url 'deck_edit' slug=deck.slug %}">Edit Deck</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>
        {% endfor %}
    {% endif %}
</div>





{% endblock %}