{% extends "base.html" %}

{% block content %}


<div class="card-container">
    <div id="all-cards">
        <p>All Cards</p>
        {% for card in all_cards %}
                <div class="edit-scene">
                    <div class="card">
                        <div class="card__face card__face--front">
                            {{ card.front }}
                        </div>
                        <div class="card__face card__face--back">
                            {{ card.back }}
                        </div>
                    </div>
                </div>
        {% load static %}
        <script src="{% static 'js/flip.js' %}" defer></script>
        {% endfor %}
    </div>
    <div id="all-cards">
        <p>Cards in Deck</p>
        {% for card in deck_cards %}
                <div class="edit-scene">
                    <div class="card">
                        <div class="card__face card__face--front">
                            {{ card.front }}
                        </div>
                        <div class="card__face card__face--back">
                            {{ card.back }}
                        </div>
                    </div>
                </div>
        {% load static %}
        <script src="{% static 'js/flip.js' %}" defer></script>
        {% endfor %}
    </div>
</div>
{% endblock %}