{% extends "base.html" %}
{% block content %}

<div id="deck-list">
    <div class="add-deck deck">
        <form method="POST" action="{% url 'create_deck' %}">
        {% csrf_token %}
        {{form.as_p}}
            <button type="submit" class="">Create Deck </button>
            {% comment %} <input type="text" placeholder="Enter the Deck Name">
            <input type="text" placeholder="Enter the Category of the Deck"> {% endcomment %}
        </form>
    </div>
    {% if deck_list %}
        {% for deck in deck_list %}
        <div>
            <a class="go-to-deck-link" href="{% url 'deck_detail' slug=deck.slug %}">
                <div id="deck">
                    <div id="deck-title">
                        <p>{{ deck.name }}</p>
                    </div>
                    <div id="deck-info">
                        <p>Category: {{ deck.category }}</p>
                        <p>Created by: {{ deck.user }}</p>    
                    </div>
                </div>
            </a> 
            <form class="fav-btn" action="{% url 'deck_favorite' slug=deck.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    {% if deck in request.user.favorited.all %}
                        Unfavorite
                    {% else %}
                        Favorite
                    {% endif %}
                    this deck</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}
</div>





{% endblock %}