{% extends "base.html" %}

{% block content %}

<div class="favorites-list">
    <h2>Hi, {{user.username}}! These are your favorited decks</h2>
        <div class="show-deck">
        {% if user.favorited.count %}
            {% for favorite in user.favorited.all %}   
                <div class="favorite-deck">
                    <p>{{ favorite }}</p>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You haven't favorited any decks.</p>
        <div class="sad-dino"></div>
        {% endif %}
</div>


{% endblock %}

