{% extends "base.html" %}

{% block content %}

<div class="favorites-list">
        {% if user.favorited.count %}
        <h2>Hi, {{user.username}}! These are your favorited decks</h2>
            <div class="show-deck">
                {% for favorite in user.favorited.all %}   
                    <a class="fav-deck-link" href="{% url "deck_detail" slug=favorite.slug %}">
                    <div class="favorite-deck">
                        <p>{{ favorite }}</p>
                        <p>Tap for more info</p>
                    </div>
                    <a>
                {% endfor %}
            </div>
        {% comment %} <form class="fav-deck" action="{% url "deck_favorite" slug=favorite.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="fav-deck-btn">
                {% if favorite in request.user.favorited.all %}
                    Unfavorite
                {% else %}
                    Favorite
                {% endif %}
                this deck</button>
        </form> {% endcomment %}
            {% else %}
        <div>
        <h2>Oh no, {{user.username}}, you haven't favorited any decks</h2>
        <div class="sad-dino"></div>
        </div>
        {% endif %}
</div>


{% endblock %}

