<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dino Cards {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <!-- CSS CUSTOM -->
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block meta %}{% endblock %}
</head>
<body>
    <div id="topbar">
        <div id="navigation">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'deck_list' %}">Decks</a>
            {% comment %} <a href="{% url 'create_deck'%}">Create Deck</a> {% endcomment %}
            <a href="{% url 'card_list' %}">Cards</a>
            <a href="{% url 'quiz' %}">Quiz</a>
        </div>
        <div id="title">
            <p>Dino Cards</p>
        </div>
        <div id="login-process">
            <div id="user-login">
                {% if request.user.is_authenticated %}
                <p><a href="{% url 'user_page' %}">{{ request.user }}</a></p>
                <p class="spacer">|</p>
                <p><a href="{% url 'auth_logout' %}?next=/core/">Logout</a></p>
                {% else %}
                <p><a href="{% url 'auth_login' %}">Login</a></p>
                <p class="spacer">|</p>
                <p><a href="{% url 'registration_register' %}">Register</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>