body {
    font-family: Arial, Helvetica, sans-serif

}

a {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    border: 2px solid rgb(164, 225, 85);
    background-color: #8FC34A;
    padding: 5px;
    border-radius: 35%;
    box-shadow: 1px 1px 2px rgb(0, 50, 8);
}
#topbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1B8449;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#navigation{
    display: flex;
    flex-wrap: wrap;
    margin: .5rem;
}

#navigation > a {
    margin: .5rem;
    margin-top: auto;
    margin-bottom: auto;
}

#title{
    font-size: 50px;
    font-weight: 500;
}
#title > p {
    margin-top: 1rem;
    margin-bottom: 0;
}
#login-process{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

#user-login{
    display: flex;
    margin: 1rem;  
}

#user-login > .spacer{
    margin: 1rem;
}

#home-page{
    margin: 1rem;
    text-align: center;
    font-size: 20px;
}

#dino-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: 
        url(cartoon-dino.png) center no-repeat;
    width: 400px;
    height: 400px;
}
#deck-list {
    display: flex;
    flex-wrap: wrap;
}
.go-to-deck-link{
    /* display: block; */
    text-decoration: none;
    background-color: white;
    border: none;
    box-shadow: 0 0 0 white;
}

#deck {
    transform: perspective(400px) rotateY(30deg);
    border-left: 10px solid rgb(18, 92, 51);
    border-top: 4px solid rgb(199, 212, 242);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 2%;
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 200px;
    height: 325px;
    background-color: #1A8449;
    color: white;
    margin: 2rem;
    text-align: center;
}

.fav-btn{
    display: flex;
    justify-content: center;
}
#deck-title{
    margin-top: 1rem;
    font-size: 23px;
}

#deck-info{
    margin-top: 12rem;
}

#cards-in-deck {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}
.card-display {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 1rem;
}
.scene{
  width: 200px;
  height: 260px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
    border-top: 5px solid rgb(147, 111, 21);
    border-bottom: 5px solid rgb(147, 111, 21);
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 300px;
    height: 150px;
    background-color:#1A8449;
    color: white;
    text-align: center;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card-title{
    /* background-color: rgb(186, 166, 118); */
    /* border: 2px solid rgb(181, 164, 123); */
    font-size: 23px;
}
.card-info{
    margin-left: 1rem;       
    text-align-last: left;
}

.card-info > p {
    margin: .5rem;
}
.card-back {
    transform: rotateY( 180deg );
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
    border-top: 5px solid rgb(175, 133, 25);
    border-bottom: 5px solid rgb(147, 111, 21);
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 300px;
    height: 150px;
    background-color: rgb(18, 94, 52);
    color: white;
    text-align: center;
}
.card-answer{
    margin-top: 3.5rem;
    font-size: 23px;
}

#cards-in-db {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.pagination{
    margin-left: 45%;
    margin-right: auto;
}

.favorites-list{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.show-deck{
    display: flex;
    flex-wrap: wrap;
}
.favorite-deck{
    border-left: 10px solid rgb(18, 92, 51);
    border-top: 10px solid rgb(199, 212, 242);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 2%;
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 200px;
    height: 325px;
    background-color: #1A8449;
    color: white;
    margin: 2rem;
    text-align: center;
}
.sad-dino{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: 
        url(oh-no-dino.jpg) center no-repeat;
    width: 600px;
    height: 500px;
}