body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
}

.link {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    border: 2px solid rgb(164, 225, 85);
    background-color: #8FC34A;
    padding: 5px;
    border-radius: 35%;
    box-shadow: 1px 1px 2px rgb(0, 50, 8);
}

#topbar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
    background-color: #1B8449;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5rem;
    margin-left: 1rem;
}

#navigation>a {
    margin: .5rem;
    margin-top: auto;
    margin-bottom: auto;
}

#title {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

#title>p {
    margin-top: 1rem;
    margin-bottom: 0;
}

#login-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

#user-login {
    display: flex;
    margin: 1rem;
}

#user-login>.spacer {
    margin: 1rem;
}

#home-page {
    margin: 1rem;
    text-align: center;
    font-size: 20px;
}

#dino-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:
        url(cartoon-dino.png) center no-repeat;
    width: 400px;
    height: 400px;
}

#deck-list {
    display: flex;
    flex-wrap: wrap;
}

.go-to-deck-link {
    /* display: block; */
    text-decoration: none;
    background-color: white;
    border: none;
    box-shadow: 0 0 0 white;
}

.deck {
    transform: perspective(400px) rotateY(6deg);
    border-left: 10px solid rgb(18, 92, 51);
    border-top: 4px solid rgb(199, 212, 242);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 2%;
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 200px;
    height: 325px;
    background-color: #1A8449;
    color: white;
    margin: 2rem 2rem 0 2rem;
    text-align: center;
}

.new-deck {
    margin: 1rem;
}

.add-deck-btn {
    display: flex;
    justify-content: center;
}

.deck-title {
    margin-top: 1rem;
    font-size: 23px;
}

#deck-info {
    margin-top: 12rem;
}

.sub-header {
    text-align: center;
}

#cards-in-deck {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}

.card-display {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 1rem;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 45%;
    width: 45%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.edit-scene {
    width: 15rem;
    height: 9rem;
    margin: 4rem;
    perspective: 300px;
}

.scene {
    width: 275px;
    height: 200px;
    margin: 40px 10px;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    /* transform-origin: center right; */
    transition: transform 1s;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 44px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid black;
    backface-visibility: hidden;
}

.card__face--front {
    background: #1A8449;
}

.if-card-face-front {
    background: silver;
}

.card__face--back {
    background: rgb(18, 94, 52);
    transform: rotateY(180deg);
}

.if-card-face-back {
    background: grey;
    transform: rotateY(180deg);
}

#cards-in-db {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.pagination {
    text-align: center;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.show-deck {
    display: flex;
    flex-wrap: wrap;
}

.favorite-deck {
    border-left: 10px solid rgb(18, 92, 51);
    border-top: 10px solid rgb(199, 212, 242);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 2%;
    box-shadow: -2px 5px 7px 1px darkgray;
    width: 200px;
    height: 325px;
    background-color: #1A8449;
    color: white;
    margin: 2rem;
    text-align: center;
}

.sad-dino {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:
        url(oh-no-dino.jpg) center no-repeat;
    width: 600px;
    height: 500px;
}

button {
    all: unset;
}

.make-deck-btn {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    border: 2px solid rgb(164, 225, 85);
    background-color: #8FC34A;
    padding: 5px;
    border-radius: 35%;
    box-shadow: 1px 1px 2px rgb(0, 50, 8);
}

form {
    all: unset;
}

.fav-deck {
    display: flex;
    justify-content: center;
}

.fav-deck-btn {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    border: 2px solid rgb(164, 225, 85);
    background-color: #8FC34A;
    padding: 5px;
    border-radius: 35%;
    box-shadow: 1px 1px 2px rgb(0, 50, 8);
}

@media screen and (min-width: 768px) {

    #topbar {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-content: space-between;
        background-color: #1B8449;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }